[Unit]
Description=Memory ballooning for libvirt VMs
After=libvirt-guests.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/libvirt-memballoon/vm-balloon.py
LogNamespace=libvirt-balloon

[Install]
WantedBy=multi-user.target
